<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pinpointr</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <div class="container-fluid">
          <div class="header clearfix">
              <h3 class="text-muted">
                  Pinpointr
                  <small style="color: red;">alpha</small>
              </h3>
          </div>
      </div>
      <%= @inner %>

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      <%=raw(render_existing view_module(@conn), "scripts." <> view_template(@conn), assigns) %>
  </body>
</html>
