html {
    overflow-y: scroll; 
},

.chatAnnouncement {
    font-weight: bold;
}

.chatFrom {
    font-weight: bold;
}

.chatScroll {
    overflow-y: auto;
}

.scoreboard table {
  table-layout: fixed;
}

.countdown .badge {
  font-size: 155%;
  width: 50px;
  padding: 5px;
}

.gameStateMessage {
  font-size: 155%;
  padding: 5px;
}

#map {
  cursor: crosshair !important;
}

.roundPoints {
  color: green;
  font-weight: bold;
}