html {
    overflow-y: scroll; 
},

.chatAnnouncement {
    font-weight: bold;
}

.chatFrom {
    font-weight: bold;
}

.chatScroll {
    overflow-y: auto;
}

.scoreboard table {
  table-layout: fixed;
}

.gameStateMessage {
  font-weight: bold;
}

.statusArea {
  padding: 5px 0;
}

.statusMessage {
  font-weight: bold;
  font-size: 18px;
}

#map {
  cursor: crosshair !important;
}

.roundPoints {
  color: green;
  font-weight: bold;
}

.countdownModal .modal-dialog {
  overflow-y: initial !important;
}

.countdownModal .modal-body {
  overflow-y: scroll;
}
